.direction-rtl {
    direction: rtl;
}

.direction-ltr {
    direction: ltr;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.details-carousel .slick-slide {
    text-align: center;
}
.slick-arrow{
    color : black !important;
}
.slick-prev:after{
    left: -30px !important;
    font-size: 16px !important;
}
.slick-next:after{
    left: 30px !important;
    font-size: 16px;
}
